<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon name="map-outline"></ion-icon> <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visits" href="/tabs/visits">
      <ion-icon name="walk-outline"></ion-icon> <ion-label>Visitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon name="heart-outline"></ion-icon> <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="queries" href="/tabs/queries">
      <ion-icon name="stats-chart-outline"></ion-icon> <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-circle-outline"></ion-icon> <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
